---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize", "skeleton";

.container{
  max-width:800px;
}
#container{
  margin:20% 0;
}
#logo{
  text-align:center;
}
#logo img{
  margin:0 auto;
  max-width:60%;
}
